{%  extends "../base.html" %}
{% load static %}

{% block content %}


    {% if error %}
    <p><strong>Utilisateur inconnu ou mot de passe incorrect</strong></p>
    {% endif %}

    <div class="col-sm-1"></div>
    <div class="col-sm-5">
        <form method="post" action= {% url 'connexion' %}>
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Login" class="btn btn-primary"/>
        </form>
    </div>
    <div class="col-sm-6"></div>
{% endblock %}