{%  extends './projects.html' %}

{%  block path %}
    <a href={% url 'list_projects' %}>Projets</a>
    /
    <a href={% url 'Contenu du projet' project.id %}>{{ project.name }}</a>
{%  endblock %}

<!-- Liste des tâches du projet -->
{%  block content %}

    <div class="row">
        <!-- Titre contenant le nom du projet -->
        <div class="col-sm-11">
            <h1>{{ project.name }}</h1>
        </div>
        <!-- Bouton permettant de créer une tâche -->
        <div class="col-sm-1">
            <a href={% url "Création d'une tâche" project.id %}>
                <span class="fa fa-plus-circle fa-4x" style="color: blue"></span>
            </a>
        </div>
    </div>
    <hr/>

    <!-- Tableau contenant les tâches  du projet -->
    <table class="table table-hover table-bordered">
        <!-- Titres des colonnes -->
        <thead class="thead-light">
        <tr>
            <th class="text-center align-middle">Task</th>
            <th class="text-center align-middle">Assignee</th>
            <th class="text-center align-middle">Start date</th>
            <th class="text-center align-middle">Due date</th>
            <!-- Colonne sans titre pour ajouter un symbole modifier -->
            <th></th>
        </tr>
        </thead>
        <tbody>
        <!--Pour chaque tâche du projet -->
        {% for task in tasks %}
            <tr>
                <!-- On affiche son nom avec un lien vers les détails de la tâche -->
                <td><a href={% url "Journal de la tâche" task.project.id task.id %}>{{ task.name }}</a></td>

                <!-- On affiche le nom complet de l'utilisateur assigné avec un badge bleu -->
                <td><span class="badge badge-primary">{{ task.assignee.first_name }} {{ task.assignee.last_name }} </span> </td>

                <!-- On affiche la date de début de la tâche -->
                <td class="font-italic">{{ task.start_date }} </td>

                <!-- On affiche la date de fin de la tâche -->
                <td class="font-italic">{{ task.due_date }} </td>

                <!-- Bouton pour modifier la tâche -->
                <td class="text-center">
                    <a href={%  url "Modifier la tâche" task.project.id task.id %}>
                        <i class="fa fa-edit" style="color: blue"></i>
                    </a>
                </td>
            </tr>

        <!-- Si le projet ne contient aucune tâche -->
        {% empty %}
            <p> Aucune tâche dans le projet.</p>
        {% endfor %}
        </tbody>
    </table>

    <div class="col-sm-4"></div>
{%  endblock %}

